/*3_1_3*/
#title{
    color:#FF3399;
    background-color: #FECFFD;
    text-align: center;
}
#div3_1_3{
    background-color: #FFFFCC;
    font-style: italic;
    text-align: center;
}
.d1{
    color: black;
}
.d2{
    color: blue;
}
.d3{
    color: green;
}
/* 3_2_1*/
#div2_1{
    background-color: cornflowerblue;
}

